.selected{
    background-color: rgb(120, 120, 120);
}

.voltar-projetos{
    padding-left: 10px;
}

.opVoltar{
    padding-left: 10px;
}

.opJava,
.opPython{
    padding-left: 10px;
}

.opVoltar:hover{
    background-color: rgb(120, 120, 120);
}