.quadro-opcoes {
    flex: 1;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
}

.local-div{
    display: flex;
    background-color: rgb(78, 78, 78);
    padding-left: 5px;
}

.local{
    background-color: rgb(78, 78, 78);
}

.opcoes{
    padding-top: 0px;
}

.opcoes-menu.esconder {
    display: none;
}

.op1,
.op2,
.op3,
.opVoltar {
    padding-left: 10px;
}

.op1:hover,
.op2:hover,
.op3:hover,
.opVoltar:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
}

a:-webkit-any-link {
    color: rgba(255, 255, 255, 0.87);;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 425px){
    .quadro-opcoes{
        font-size: small;
    }
}