.quadro-mostrar {
    flex: 3;
    border: 2px solid rgb(255, 255, 255);
}

.local-div-mostrar {
    display: flex;
    background-color: rgb(78, 78, 78);
    padding-left: 5px;
}

.local-mostrar {
    background-color: rgb(78, 78, 78);
}

.mostrar {
    padding-left: 10px;
    padding-top: 5px;
    overflow: auto;
    word-wrap: break-word;
    height: 95.5%;
}

.mostrar::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: #aaa;
    /* or add it to the track */
}

/* Add a thumb */
.mostrar::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
}

@media (min-width: 320px) and (max-width: 769px) {

    .quadro-mostrar{
        flex: 3;
        max-height: 700px;
    }

    .mostrar {
        padding-left: 10px;
        padding-top: 5px;
        overflow: auto;
        word-wrap: break-word;
        height: 95.9%;
    }
}