.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 2%;
}

.opcoes-header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.op-header:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
    border-radius: 3px;
}

.titulo-header{
    display: flex;
    align-items: baseline;
    height: 20px;
}

.quadrado{
    width: 20px;
    height: 5px;
    animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        background-color: white;
        visibility: hidden;
    }
}

@media (min-width: 1px) and (max-width: 727px) {
    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .titulo-header{
        font-size: larger;
    }

    .opcoes-header{
        font-size: small;
    }
    
}

@media (min-width: 728px) and (max-width: 1024px) {
    .header-container{
        font-size: medium;
        padding-right: 40px;
    }
    
}