.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 80px;
    padding-left: 5%;
}

.opcoes-header {
    display: flex;
    gap: 10px;
}

.op1-header,
.op2-header {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.op-header:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
}

.titulo-header{
    display: flex;
    align-items: baseline;
    
}

.quadrado{
    width: 20px;
    height: 5px;
    animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        background-color: white;
        visibility: hidden;
    }
}