.container {
  display: flex;
  gap: 10px;
  height: 80vh; /* Altura relativa à altura da viewport */
  min-height: 600px; /* Altura mínima para telas menores */
  padding-left: 3%;
  padding-right: 3%;
}

.QuadroOpcoes {
  flex: 1;
  border: 2px solid rgb(255, 255, 255);
}

/* Media query para telas menores */
@media (max-width: 769px) {
  .container {
    font-size: medium;
    flex-direction: column;
  }
}