.container {
  display: flex;
  gap: 10px;
  height: 80vh; /* Altura relativa à altura da viewport */
  min-height: 600px; /* Altura mínima para telas menores */
  padding-left: 3%;
  padding-right: 3%;
}

.QuadroOpcoes {
  flex: 1;
  border: 2px solid rgb(255, 255, 255);
}

a:-webkit-any-link {
  color: rgba(255, 255, 255, 0.87);;
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

.op,
.opVoltar {
    padding-left: 10px;
}

.op:hover,
.opVoltar:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
}

.op1:active,
.op2:active,
.op3:active {
    background-color: rgb(163, 162, 162);
}

.selected {
  background-color: rgb(120, 120, 120);
}

/* Media query para telas menores */
@media (max-width: 769px) {
  .container {
    font-size: medium;
    flex-direction: column;
  }
}